config runtime 'main'
	option version '1'
	option connectivity_url 'http://captive.apple.com/'
	option portal_login_url ''
	option check_interval_seconds '30'
	option request_timeout_seconds '10'
	option retry_initial_seconds '10'
	option retry_max_seconds '300'
	option max_concurrent_requests '2'
	option log_level 'info'
	option event_buffer_size '256'
	option control_socket '/var/run/giwifi-auto.sock'

config account 'account_primary'
	option display_name '示例账号'
	option username 'example@example.com'
	option credential_ref 'uci:giwifi-credentials.account_primary.password'
	option enabled '0'
	option priority '100'
	option network_interface ''
